body{
    top: 0;
    right: 0;
    background-image: url(/img/hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.texto1
{
    text-align: center;
    color: white;
    font-size: 35px;
}

.texto2
{
    display: block;
    background: rgb(0, 0, 0);
    color: red;
    width: 20%;
    height: 420px;
    align-items: center;
    display: inline-table;
    text-align: center;
    margin-left: 650px;
    border-radius: 50px;
}

.button{
    width: 70%;
    height: 20%;
    background-color: red;
    font-size: 1.1em;
    border-radius: 50px;
    color: white;
}

h3{
    color: white;
    font-size: 30px;
}