@import url('https://font.giigkeapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap');


*
{
	font-family: 'Poppins', sans-serif;
	margin: 0;
    padding: 0;
	top: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
	background-color:transparent;

}

body
{
    min-height: 1000px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #15c0eb;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #fffdfd;
}

::-webkit-scrollbar-thumb
{
	background-color: #13aedd;
}


p
{
	font-weight: 300;
	color: #111;
}

/*HEADER e página inicial*/

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
	/*background-color: black;*/
	
}

header.sticky 
{
    background-color: black;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo
{	
	width: 100px;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
	/*background-color: black;*/
	transform: scale(1);
  	animation: pulse-black 2s infinite;

}

.celular{
	background-color: rgb(228, 228, 149);
}

header.sticky .logo  
{
    background-color: black;
	transition: 1.5s;
	
}

header .navigation
{
	/*background-color: black;*/
    position: relative;
    display: flex;
	
	
}

header .navigation li
{
    list-style: none; 
    margin-left: 50px; 
}

header .navigation li a
{	
	text-decoration: none;
	/*background-color: black;*/
    border: none;
    color: #fff;
    font-weight: 300;
    font-weight: bolder;
}

header.sticky .navigation li a
{	
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

header .navigation li a:hover{
    color: #ff0101;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/LOL.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: initial;
	background-size: cover;
    
}

button
{	
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	text-align: center;
  	background-color: #c51414;
  	border: 1px bold;
  	color: #FFFFFF;
  	font-size: 28px;
  	padding: 20px;
  	width: 300px;
  	transition: all 0.5s;
  	cursor: pointer;
	left: 20%;
	border-radius: 50px;
	margin-top: 70px;
	transform: scale(1);
  	animation: pulse-black 2s infinite;
}

button:hover
{
	margin-right: 20px;	
}

.button span {
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
	
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -300px;
  transition: 0.5s;
}


.button:hover span {
  	padding-right: 50px;
  	margin-right: 20px;
}

.button:hover span:after {
  	opacity: 1;
  	right: 0;
}

.logo2{
	width: 560px;
	margin-bottom: 5px;
}


/*SEÇÃO*/
/*Abaixo do header BODY*/


section
{
    padding: 100px;
	display: flex;
	
}




.video
{	
	border-radius: 100px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	transform: scale(1);
  	animation: pulse-black infinite;
	transition: 4.5s; 
}

.video:hover
{
	animation: linear;
}

h2
{
	position: relative;
	top: -50px;
	left: 500px;
	color: black;
	
	
}

h2:hover
{
	color: #ff0101;
	
}


.materia {
	border-radius: 100px;
	width: 100%;
	color: #fff;
	display: flex; /*super importante!*/
	position: relative;
	justify-content: space-between;
}
.materia .col
{
    position: relative;
    width: 50%;
    font-size: 1.5em;
	 
}

.materia .col p
{
	position: relative;
	width: 100%;
	min-height: 300px;
	padding-left: 20px;
	text-align: justify;
	padding-top: 40px;
	
}

.title /* vai dar merda*/
{
	
    width: 14%;
    position: absolute;
	padding-top: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
	
	
}

.btn
{
    font-size: 1em;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    display: flex;
	flex-direction: row;
    padding: 10px 50px;
    margin-top: 20px;
   /*  text-transform: uppercase; */
    text-decoration: none;
    transition: 0.5s;
	text-align: center;
	border: 2px solid blue;
	
	
}

.btn:hover
{
    letter-spacing: 0px;
	padding: 20px 50px;
	
}





@media (max-width: 991px)
{
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li
    {
        margin-left: 0
    }
    header .navigation li a
    {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.jpg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(/img/menu-close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2
    {
        font-size: 3m;
        color: #fff;
    }
    .row
    {
        flex-direction: column;
    }
    .row .col150
    {
        position: relative;
        width: 100%;
        text-align: justify;
    }
    .row .col150 .imgBx
    {
        height: 300px;
        margin-top: 20px;
    }
    .menu .content
    {
        margin-top: 20px;
    }
    .menu .content .box
    {
        margin: 10px; 
    }
    .menu .content .box .imgBx
    {
        height: 299px;
    }
    .title
    {
        text-align: center;
    }
    .titleText
    {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .feedbacks .content .box
    {
        margin: 10px;
        padding: 20px;
    }
    .contactForm
    {
        padding: 65px 31px;
        margin-top: 24px;
        margin-bottom: 48px;
    }
}

@media (max-width: 480px)
{   
    .banner .content h2
    {
    font-size: 2.2em;
    color: #fff;
    }
}